.button {
	background-color: slateblue;
	border: .4rem solid black;
	height: 4rem;
	/* 100% of the app */
	width: 100%;
	/* Remember that you cannot define a height and width for an inline element */
	display: inline-block;

	font-size: 2rem;
	cursor: pointer;
}

.red {
	background-color: red;
	/* To avoid highlighting */
	user-select: none;
	/* width: 100%; */
	/* height: 2rem; */
}
